name: checkov

on:
  pull_request:
  push:
    branches: [ master, main ]

permissions:
  contents: read
  security-events: write
  actions: read
  pull-requests: write

jobs:
  checkov:
    uses: clouddrove/github-shared-workflows/.github/workflows/security-checkov.yml@master
    with:
      directory: 'infra'
      continue_on_error: 'true'
      skip_check: 'CKV_TF_1'
